.game-of-life-controls {
  &__fieldset {
    margin-bottom: 16px;
  }
  &__button {
    box-sizing: border-box;
    width: 50%;
    height: 32px;
    margin-bottom: 8px;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__input-container {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    margin-bottom: 8px;
  }
  &__input {
    float: right;
  }
}